<ion-tabs>
  <ion-tab-bar class="bannerSponsor bannerSponsorHidden" slot="bottom" *ngFor="let BannerSponsor of sponsors">
    <img class="bannerSponsor-logo" src="{{BannerSponsor.logo_url}}">
    <span class="bannerSponsor-text">{{BannerSponsor.name}} is a {{BannerSponsor.level}}<br> Sponsor of PyCon US 2026</span>
  </ion-tab-bar>

  <ion-tab-bar slot="bottom" class="pycon-tab-bar">
    <ion-tab-button tab="speakers" [class.pycon-active]="activeTab === 'speakers'">
      <ion-icon name="people"></ion-icon>
      <ion-label>Speakers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="conference-map" [class.pycon-active]="activeTab === 'conference-map'">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule" [class.pycon-active]="activeTab === 'schedule'">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="now" [class.pycon-active]="activeTab === 'now'">
      <ion-icon name="radio"></ion-icon>
      <ion-label>Now</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="hasDoorCheck" (click)="openStaffTools($event)" [class.pycon-active]="activeTab === 'lead-retrieval'">
      <ion-icon name="scan"></ion-icon>
      <ion-label>Scanner</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="hasLeadRetrieval && !hasDoorCheck" tab="lead-retrieval" [class.pycon-active]="activeTab === 'lead-retrieval'">
      <ion-icon name="qr-code"></ion-icon>
      <ion-label>Scanner</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="!loggedIn" tab="login" [class.pycon-active]="activeTab === 'login'">
      <ion-icon name="log-in"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

  <ion-modal #staffToolsModal [isOpen]="showStaffTools" (didDismiss)="showStaffTools = false"
             [breakpoints]="[0, 0.35]" [initialBreakpoint]="0.35" [handle]="true">
    <ng-template>
      <ion-content class="staff-tools-sheet">
        <div class="staff-tools-header">
          <h2>Staff Tools</h2>
        </div>
        <ion-list lines="full">
          <ion-item *ngIf="hasDoorCheck" button="true" (click)="goToTool('/app/tabs/door-check')" detail="true">
            <ion-icon slot="start" name="checkbox-outline" color="primary"></ion-icon>
            <ion-label>Door Check</ion-label>
          </ion-item>
          <ion-item *ngIf="hasDoorCheck" button="true" (click)="goToTool('/app/tabs/t-shirt-redemption')" detail="true">
            <ion-icon slot="start" name="shirt-outline" color="primary"></ion-icon>
            <ion-label>Swag Pickup</ion-label>
          </ion-item>
          <ion-item *ngIf="hasLeadRetrieval || hasDoorCheck" button="true" (click)="goToTool('/app/tabs/lead-retrieval')" detail="true">
            <ion-icon slot="start" name="qr-code-outline" color="primary"></ion-icon>
            <ion-label>Lead Scanner</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-tabs>
