<ion-tabs>
  <ion-tab-bar class="bannerSponsor bannerSponsorHidden" slot="bottom" *ngFor="let BannerSponsor of sponsors">
    <img src="{{BannerSponsor.logo_url}}" style="height: 75%; padding-left: 1em; padding-right: 1em;">
    <span style="padding-left: 1em; font-size: smaller;"> {{BannerSponsor.name}} is a {{BannerSponsor.level}}<br> Sponsor of PyCon US 2024</span>
  </ion-tab-bar>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="people"></ion-icon>
      <ion-label>Speakers</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="hasLeadRetrieval" tab="lead-retrieval">
      <ion-icon name="qr-code"></ion-icon>
      <ion-label>Scanner</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
