<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button [color]="liveUpdateService.updateAvailable?.available ? 'primary' : 'medium'"></ion-menu-button>
      <ion-badge *ngIf="liveUpdateService.updateAvailable?.available" size=sm>1</ion-badge>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="nickname" class="ion-padding-top ion-text-center">
    <img src="https://www.gravatar.com/avatar?d=mp&s=140" alt="avatar">
    <h2>Signed in as {{nickname}}</h2>
    <p><code>{{email}}</code></p>

    <ion-button (click)="logout()">Logout</ion-button>

  </div>
</ion-content>
