/*
 * Speaker Background
 */

ion-header {
  background: #5833E9;

  &::after {
    display: none;  // remove the border/shadow line
  }
}

ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}

ion-toolbar ion-button,
ion-toolbar ion-back-button,
ion-toolbar ion-menu-button {
  --color: #ffffff;
}

.speaker-background {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: visible;
  background-color: #5833E9;
}

.speaker-banner {
  width: 100%;
  display: block;
}

.speaker-image {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  width: clamp(163px, 25vw, 300px);
  height: clamp(163px, 25vw, 300px);
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid goldenrod;
  z-index: 2;
}

.speaker-name {
  padding-top: clamp(100px, 14vw, 180px);
  text-align: center;
}

.speaker-background h2 {
  position: absolute;

  bottom: 10px;

  color: white;
}

.md .speaker-background {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.ios .speaker-background {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

/*
 * Speaker Details
 */

.speaker-detail p {
  margin-left: 6px;
  margin-right: 6px;
}

.speaker-detail hr {
  margin-top: 20px;
  margin-bottom: 20px;

  background: var(--ion-color-step-150, #d7d8da);
}
