<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment *ngIf="ios" [(ngModel)]="segment" (ionChange)="updateSpeakers()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
    <ion-title *ngIf="!ios && !showSearchbar">Speakers</ion-title>
    <ion-searchbar #search *ngIf="showSearchbar" [debounce]="250" showCancelButton="always" [(ngModel)]="speakerQueryText" (ionClear)="resetSpeakers()" (ionCancel)="resetSpeakers()" (ionChange)="searchSpeakers()" (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true && focusButton()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Speakers</ion-title>
    </ion-toolbar>

    <ion-toolbar>
      <ion-searchbar [(ngModel)]="speakerQueryText" [debounce]="250" (ionClear)="resetSpeakers()" (ionCancel)="resetSpeakers()" (ionChange)="searchSpeakers()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>

  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size-xl="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let speaker of displaySpeakers" [hidden]="speaker.hide">
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" class="speaker-item" routerLink="/app/tabs/speakers/speaker-details/{{speaker.id}}">
              <ion-avatar slot="start">
                <ion-img [src]="speaker.profilePic" [alt]="speaker.name + ' profile picture'"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{speaker.name}}</h2>

              </ion-label>
            </ion-item>
          </ion-card-header>

          <ion-card-content>
            <ion-list lines="none">
              <ion-item *ngFor="let session of speaker.sessions" detail="false" routerLink="/app/tabs/speakers/session/{{session.id}}">
                <ion-label>
                  <h3>{{session.track}}: {{session.name}}</h3>
                </ion-label>
              </ion-item>

            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll [disabled]="!scrolling" (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
