<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sponsors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sponsors-hero">
    <ion-icon name="heart" class="sponsors-hero-icon"></ion-icon>
    <h1>Our Sponsors</h1>
    <p>PyCon US wouldn't be possible without them</p>
  </div>

  <ion-list *ngFor="let sponsorLevel of sponsors | keyvalue : levelOrder" lines="full">
    <ion-list-header>
      <ion-label>{{ sponsorLevel.key }}</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let sponsor of sponsorLevel.value"
              [hidden]="sponsor.hide"
              button="true"
              [routerLink]="'/app/tabs/sponsors/sponsor-detail/' + getSponsorSlug(sponsor.name)"
              detail="true">
      <div slot="start" class="sponsor-logo-thumb">
        <img [src]="sponsor.logo_url" [alt]="sponsor.name + ' logo'" />
      </div>
      <ion-label>
        <h2>{{ sponsor.name }}</h2>
        <p *ngIf="sponsor?.booth_number">Expo Booth {{ sponsor.booth_number }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div style="height: 80px"></div>
</ion-content>
