<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button [color]="liveUpdateService.updateAvailable?.available ? 'primary' : 'medium'"></ion-menu-button>
      <ion-badge *ngIf="liveUpdateService.updateAvailable?.available" size=sm>1</ion-badge>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
     <ion-col>
      <ion-row *ngIf="liveUpdateService.updateAvailable?.available">
        <ion-button (click)="performAutomaticUpdate()" *ngIf="liveUpdateService.updateAvailable?.available">Fetch latest update</ion-button>
      </ion-row>
      <ion-row>
        <div [innerHtml]="content.about"></div>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
