<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button [color]="liveUpdateService.updateAvailable?.available ? 'primary' : 'medium'"></ion-menu-button>
      <ion-badge *ngIf="liveUpdateService.updateAvailable?.available" size=sm>1</ion-badge>
    </ion-buttons>
    <ion-title>Lead Retrieval</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.visibility]="content_visibility">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header>
      <ion-label>Recent Scans</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-text color="medium" class="header-info">
        This list displays the recent scans on this device only.<br>
        View all your scans and the captured data on your dashboard at us.pycon.org.<br>
      </ion-text>
    </ion-item>
    <ion-item *ngFor="let scan of sortScans()">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>
                <ion-icon
                  [color]="(scan.status === 'captured')? 'success' : 'default'"
                  [name]="(scan.status === 'captured')? 'id-card-outline' : 'qr-code'">
                </ion-icon>
                {{(scan.status === 'captured')? scan.first_name : scan.access_code}}
              </h1>
              <p>Scanned {{scan.scanned_at|dateAgo}}</p>
              <p *ngIf="scan.status === 'captured'">Captured {{scan.scanned_at|dateAgo}}</p>
              <p *ngIf="scan.status === 'pending'">Pending capture when online...</p>
            </ion-col>
            <ion-col>
              <div class="ion-float-end ion-float-top">
                <ion-button (click)="openNoteModal(scan.access_code, scan)" size="75%" fill="clear">
                  <ion-icon [name]="scan.note? 'document-text': 'document-outline'"></ion-icon>
                  <ion-text size="small">Note</ion-text>
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="show_permissions_error">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Uh oh..</ion-card-title>
          <ion-card-subtitle>Camera Permissions Not Granted</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-text>Looks like you did not grant this application permission to access your camera.</ion-text>
          <ion-text>
            You can resolve this by opening<br><br>
            <code *ngIf="ios">Settings > Privacy & Security > Camera > PyCon US 2024<br><br></code>
            <code *ngIf="!ios">Settings > Apps > PyCon US 2024 > Permissions > Camera<br><br></code>
            And enabling camera permssions for this app.
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-card *ngIf="last_scan">
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>
                <ion-icon
                  [color]="(last_scan.status === 'captured')? 'success' : 'default'"
                  [name]="(last_scan.status === 'captured')? 'id-card-outline' : 'qr-code'">
                </ion-icon>
                {{(last_scan.status === 'captured')? last_scan.first_name : last_scan.access_code}}
                <ion-spinner *ngIf="last_scan.status !== 'captured'" name="dots"></ion-spinner>
              </h1>
            </ion-col>
            <ion-col>
              <div class="ion-float-end">
                <ion-button (click)="openNoteModal(last_scan.access_code, last_scan)" size="75%" fill="clear">
                  <ion-icon [name]="last_scan.note? 'document-text': 'document-outline'"></ion-icon>
                  <ion-text size="small">Note</ion-text>
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-toolbar class="footer-toolbar">
    <ion-buttons class="footer-buttons">
      <ion-button fill="solid" color="success" class="footer-button" (click)="startScan()" [style.visibility]="scan_start_button_visibility">
        Start Scanner!
      </ion-button>
      <ion-button fill="solid" color="danger" class="footer-button" (click)="stopScan()" [style.visibility]="scan_stop_button_visibility">
        Stop Scanner
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
