<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lead Retrieval</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.visibility]="content_visibility">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header>
      <ion-label>Recent Scans</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-text color="medium" class="header-info">
        This list displays the recent scans on this device only.<br>
        View all your scans and the captured data on your dashboard at us.pycon.org.<br>
      </ion-text>
    </ion-item>
    <ion-item *ngFor="let scan of sortScans()">
      <ion-label *ngIf="scan.status === 'captured'">
        <h1><ion-icon color="success" name="id-card-outline"></ion-icon> {{scan.first_name}}</h1>
        <p>Scanned {{scan.scanned_at|dateAgo}}</p>
        <p>Captured {{scan.scanned_at|dateAgo}}</p>
      </ion-label>
      <ion-label *ngIf="scan.status === 'pending'">
        <h1><ion-icon name="qr-code"></ion-icon> {{scan.access_code}}</h1>
        <p>Scanned {{scan.scanned_at|dateAgo}}</p>
        <p>Pending capture when online...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <ion-buttons class="footer-buttons">
      <ion-button fill="solid" color="success" class="footer-button" (click)="startScan()" [style.visibility]="scan_start_button_visibility">
        Start Scanner!
      </ion-button>
      <ion-button fill="solid" color="danger" class="footer-button" (click)="stopScan()" [style.visibility]="scan_stop_button_visibility">
        Stop Scanner
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
