<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-content>
        <ion-list lines="none">
          <ion-list-header>
            PyCon US 2023
          </ion-list-header>

          <ion-item *ngIf="liveUpdateService.updateAvailable?.available">
            <ion-text color="primary">Live update available</ion-text>
          </ion-item>

          <ion-item *ngIf="loggedIn">
            <ion-label>Hello, {{nickname}}</ion-label>
          </ion-item>

          <ion-list-header>
            Information
          </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>

        <ion-list *ngIf="hasApps" lines="none">
          <ion-list-header>
            Apps
          </ion-list-header>

          <ion-menu-toggle *ngIf="hasLeadRetrieval" autoHide="false">
            <ion-item routerLink="/app/tabs/lead-retrieval" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="qr-code"></ion-icon>
              <ion-label>
                Lead Scanner
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list *ngIf="loggedIn" lines="none">
          <ion-list-header>
            Account
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/account" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Account
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="logout()" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list *ngIf="!loggedIn" lines="none">
          <ion-list-header>
            Account
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/login" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Login
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list lines="none">

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/app/tabs/about" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="information-circle-outline">
              </ion-icon>
              <ion-label>
                About
              </ion-label>
              <ion-badge *ngIf="liveUpdateService.updateAvailable?.available">Live Update Available</ion-badge>
            </ion-item>
          </ion-menu-toggle>

          <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-label>
              Dark Mode
            </ion-label>
            <ion-toggle [(ngModel)]="dark"></ion-toggle>
          </ion-item>
        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
