<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button [color]="liveUpdateService.needsUpdate ? 'primary' : 'medium'"></ion-menu-button>
      <ion-badge *ngIf="liveUpdateService.needsUpdate" size=sm>1</ion-badge>
    </ion-buttons>
    <ion-title>The PSF</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
     <ion-col>
       <h1>Python Software Foundation</h1><br>
       <ion-button onclick="window.open('https://psfmember.org/civicrm/contribute/transact/?reset=1&id=2', '_system', 'location=yes'); return false;">Donate to the PSF</ion-button>
     </ion-col>
    </ion-row>
    <ion-row>
     <ion-col>
      <ion-row>
        <ion-col [innerHtml]="content['about-psf']">
        </ion-col>
      </ion-row>
    </ion-col>
    </ion-row>
    <ion-row>
      <br>
      <br>
      <br>
      <br>
    </ion-row>
  </ion-grid>
</ion-content>
