ion-content{
  white-space: nowrap;
}

.map-container {
  height: 100%;
  overflow-x: scroll!important;
  overflow-y: hidden;
}

.expo-hall-map {
  height: 100%;
  aspect-ratio: 4096/3429;
  background-image:url(/assets/img/pycon-us-2024-floorplan.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.booth {
  margin: auto;
  text-align: center;
  border-radius: .33em;
  scroll-margin-left: 3em;
  scroll-margin-right: 3em;
}

.booth-highlight {
  border-style: solid;
  border-width: 3%;
  border-color: rgba(255, 252, 127, 0.75);
  background: rgba(255, 252, 127, 0.33);
}

.booth-img {
  max-height: 33%;
  max-width: 85%;
  margin-top: 20%;
}

.tall-booth .booth-img {
  margin-top: 50%;
}

.sq-booth .booth-img {
  margin-top: 25%;
}

.xtall-booth .booth-img {
  margin-top: 66%
}
