.session-card {
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.session-card-title {
  font-size: 1.1em;
}

.day-header {
  background: var(--ion-color-step-150, #d7d8da);
  margin-top: 10px;
  margin-bottom: 5px;

  ion-label {
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    margin: 8px 0;
    width: 100%;
  }
}
