<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button [color]="liveUpdateService.needsUpdate ? 'primary' : 'medium'"></ion-menu-button>
      <ion-badge *ngIf="liveUpdateService.needsUpdate" size=sm>1</ion-badge>
    </ion-buttons>
    <ion-title *ngIf="!ios && !showSearchbar">{{trackName}}</ion-title>
    <ion-searchbar #search *ngIf="showSearchbar" [debounce]="250" showCancelButton="always" [(ngModel)]="sessionQueryText" (ionClear)="resetSessions()" (ionCancel)="resetSessions()" (ionChange)="searchSessions()" (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true && focusButton()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{trackName}}</ion-title>
    </ion-toolbar>

    <ion-toolbar>
      <ion-searchbar [(ngModel)]="sessionQueryText" [debounce]="250" (ionClear)="resetSessions()" (ionCancel)="resetSessions()" (ionChange)="searchSessions()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <!-- Regular sessions display -->
  <ion-grid *ngIf="!isOpenSpaceView">
    <ion-row>
      <ion-col size-xl="6" size-md="6" size-sm="6" size-xs="12" *ngFor="let session of displaySessions" [hidden]="session.hide">
        <ion-item class="ion-no-padding" lines="none" detail="false" routerLink="/app/tabs/schedule/session/{{session.id}}">
          <ion-card class="ion-no-padding ion-no-border ion-margin-bottom session-card">
            <ion-card-header>
              <ion-card-title class="session-card-title">
                  <ion-icon *ngIf="session.favorite" slot="icon-only" name="star"></ion-icon>
                  {{session.name}}
              </ion-card-title>
              <ion-card-subtitle>
                  <b>{{session.track}}</b>: {{session.day}} {{session.timeStart}} &mdash; {{session.timeEnd}}: {{session.location}}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-chip *ngFor="let speaker of session.speakers">
              <ion-avatar>
                <img [src]="speaker.profilePic" [alt]="speaker.name + ' profile picture'">
              </ion-avatar>
              <ion-label>{{ speaker.name }}</ion-label>
              </ion-chip>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Open sapces display with day headers -->
  <div *ngIf="isOpenSpaceView">
    <div *ngFor="let day of dayOrder">
      <ion-item-divider *ngIf="sessionsByDay[day]?.length > 0" class="day-header">
        <ion-label>
          {{ day === 'Fri' ? 'Friday' : (day === 'Sat' ? 'Saturday' : 'Sunday') }}
        </ion-label>
      </ion-item-divider>

      <ion-grid *ngIf="sessionsByDay[day]?.length > 0">
        <ion-row>
          <ion-col size-xl="6" size-md="6" size-sm="6" size-xs="12" *ngFor="let session of sessionsByDay[day]">
            <ion-item class="ion-no-padding" lines="none" detail="false" routerLink="/app/tabs/schedule/session/{{session.id}}">
              <ion-card class="ion-no-padding ion-no-border ion-margin-bottom session-card">
                <ion-card-header>
                  <ion-card-title class="session-card-title">
                    <ion-icon *ngIf="session.favorite" slot="icon-only" name="star"></ion-icon>
                    {{session.name}}
                  </ion-card-title>
                  <ion-card-subtitle>
                    {{session.timeStart}} &mdash; {{session.timeEnd}}: {{session.location}}
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="12" [size]="session.imageUrl ? '8' : '12'">
                        <ion-chip *ngFor="let speaker of session.speakers">
                          <ion-avatar>
                            <img [src]="speaker.profilePic" [alt]="speaker.name + ' profile picture'">
                          </ion-avatar>
                          <ion-label>{{ speaker.name }}</ion-label>
                        </ion-chip>
                      </ion-col>
                      <ion-col *ngIf="session.imageUrl" size="4" class="ion-text-end">
                        <img [src]="session.imageUrl" class="open-space-image">
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-infinite-scroll [disabled]="!scrolling" (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
